@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

.navbar {
    background: linear-gradient(to right, #ad5389, #3c1053);
}

#hero {
    padding-top: 5%;
    background: linear-gradient(to right, #ad5389, #3c1053);
}

#hero img {
    height: 25em;
}

#services {
    margin-top: -5%;
    margin-bottom: 5em;
}

.garis {
    width: 40%;
    margin: -5px auto 0;
    height: 4px;
    border: 2px solid #650142;
}

#services img {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.font_14 {
    font-size: 14px;
}

#services button {
    margin-top: 50px;
    background: linear-gradient(to right, #ad5389, #3c1053);
    width: 10em;
    font-size: 1em;
}

#about {
    background-color: #eaeaea;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about h2 {
    padding-bottom: 80px;
}

#about img {
    margin-top: -15%;
}

#testimonial {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-testi p{
    font-size: 12px;
    font-weight: lighter;
}
.card-testi{
    border-left: 4px solid #3c1053;
}
.card-testi img{
    width: 50px;
height: 50px;
border-radius:50% ;
}

.card-testi span {
    font-size: 12px;
}
.card-testi em {
    font-size: 12px;
    font-weight: lighter;
}

#socialmedia img{
    width: 50px;
    height: 50px;
}

#socialmedia{
    position: relative;
    background-color:#eaeaea;
    padding-top: 50px;
}

.list-icon a{
    margin-left: 10px;
}

#footer{
    background: linear-gradient(to right, #ad5389, #3c1053);
}

#footer{
    margin-top: -5%;
}